# Config file for arch-install script (https://github.com/gmillz/arch-install)

# Base install packages
base_packages=("base" "linux" "linux-firmware" "nano" "sudo")

# Display Managers
display_managers=("gdm" "lightdm" "lxdm" "sddm")
lightdm_additional=("lightdm-gtk-greeter" "lightdm-pantheon-greeter" "lightdm-webkit2-greeter" "lightdm-slick-greeter")

# WindowManagers and their packages
window_managers=("xfce4" "qtile" "gnome" "plasma")
xfce4=("xfce4" "xfce4-goodies")
qtile=("qtile" "dmenu")
gnome=("gnome" "gnome-extra")
plasma=("plasma" "kde-applications")

# Web Browsers
web_browsers=("firefox" "chromium" "brave-bin" "google-chrome" "konqueror" "qutebrowser")

# Text Editors
text_editors=("beaver" "deepin-editor" "vscodium" "gedit" "geany" "code")

# File Explorers
file_explorers=("pcmanfm" "dolphin" "nautilus" "thunar")

# Terminal Emulators
terminal_emulators=("alacritty" "deepin-terminal" "kitty" "konsole" "qterminal" "xterm" "termite" "tilix" "xfce4-terminal")