#!/bin/bash
# Config file for arch-install script (https://github.com/gmillz/arch-install)

default_keymap="us"
default_locale="en_US"

main_menu=()
main_menu+=("partition_disks" "Partition Disks")
main_menu+=("base_install" "Install Base System")
#main_menu+=("bootloader" "Install bootloader")
main_menu+=("enable_aur" "Enable AUR")
main_menu+=("setup_user" "Setup User")
main_menu+=("extras_menu" "Install Extras")
main_menu+=("_reboot" "Reboot")

configure_menu=()
configure_menu+=("set_keymap" "Select Keyboard Layout ($default_keymap)")
configure_menu+=("set_locale" "Select Language ($default_locale)")
configure_menu+=("main_menu" "Back")

extras_menu=()
extras_menu+=("display_manager" "Select Display Manager")
extras_menu+=("window_manager" "Select Window Manager")
extras_menu+=("apps" "Select Additional Apps To Install")
extras_menu+=("main_menu" "Back")

apps_menu=()
apps_menu+=("web_browsers" "Web Browsers")
apps_menu+=("text_editors" "Text Editors")
apps_menu+=("terminal_emulators" "Terminal Emulators")
apps_menu+=("file_explorers" "File Explorers")
#apps_menu+=("other_apps" "Other Apps")
apps_menu+=("install_selected_apps" "Install Selected Apps")

# Base install packages
base_packages=("base" "linux" "linux-firmware" "nano" "sudo" "which")

# Display Managers
display_managers=(
    "gdm" "GDM"
    "lightdm" "LightDM"
    "lxdm" "LXDM"
    "sddm" "SDDM"
    "entrance" "Entrance"
)
lightdm_additional=("lightdm-gtk-greeter" "lightdm-pantheon-greeter" "lightdm-webkit2-greeter" "lightdm-slick-greeter")
lightdm() { 
    if [[ "$1" == *"greeter" ]]; then
        sed -i "s/#greeter-session=.*/greeter-session=$1/" /mnt/etc/lightdm/lightdm.conf
#        echo "greeter-session=$1" >> /mnt/etc/lightdm/lightdm.conf
    fi
}

# WindowManagers and their packages
window_managers=(
    "xfce4" "XFCE4"
    "qtile" "qTile"
    "gnome" "Gnome" 
    "plasma" "Plasma")
xfce4=("xfce4" "xfce4-goodies")
qtile=("qtile" "dmenu" "xorg-xinit" "xorg" "xterm" "python-setuptools" "picom" "nitrogen" "lxsession" "lxappearance-gtk3")
gnome=("gnome" "gnome-extra")
plasma=("plasma" "kde-applications")

# Web Browsers
web_browsers=("firefox" "chromium" "brave-bin" "google-chrome" "konqueror" "qutebrowser")

# Text Editors
text_editors=("beaver" "deepin-editor" "vscodium" "gedit" "geany" "code")

# File Explorers
file_explorers=("pcmanfm" "dolphin" "nautilus" "thunar")

# Terminal Emulators
terminal_emulators=("alacritty" "deepin-terminal" "kitty" "konsole" "qterminal" "xterm" "termite" "tilix" "xfce4-terminal")

other_apps=("openssh")